/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

p,
h4 {
	line-height: 150% !important;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  /*color: #034466;*/
  /*text-shadow: 1px 1px #7FBBDA;*/
}

.vert-text btn {
  text-shadow: none;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.vert-text .span h1,
.vert-text .span h3 {
    margin:0px;
    padding: 0px;
    line-height: 0.8;
  text-shadow: 2px 2px #0A5175;
}


/* Side Menu */

#sidebar-wrapper {
  right: 0;
  background: #0A5175;
  padding-right: 40px;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 1000;
  box-shadow: 0px 0px 10px #333;
}

.sidebar-nav {
  top: 0;
  margin: 0;
  padding: 0;
  float: right;
  background:  url("../img/bg/icon-sma"ll.png) no-repeat center right;
  padding-right: 20px;
}

.sidebar-nav li {
  list-style-type: none;
  display: inline;
  line-height: 40px;
  text-indent: 20px;
  padding: 0px 30px 0px 30px;
}

.sidebar-nav li a {
  color: #fff; //#999999
  //display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #7FBBDA; //#fff
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: #7FBBDA url("../img/bg/bg6.jpg") no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.header-logo {
	width: 100%;
	height: 200px;
	background: url("../img/bg/logo-big.jpg") no-repeat top left fixed;
	background-color: greenyellow;
	position: relative;
	z-index: 100;
}*/

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

/* Callout */

.callout {
  padding: 50px 0;
  color: #ffffff;
  /*color: #000;*/
  display: table;
  height: 400px;
  width: 100%;
  background: url("../img/bg/piano-bg2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.callout img {
	width: 100px;
}
.callout a {
	color: #33F;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url("../img/bg/guitar-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 25px;
}

.http://img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

.fa {
	color: white;
}

footer .fa {
	color: #333;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 50px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {

  .header {
	background: url("../img/bg/bg6.jpg") no-repeat center center scroll;
  }

  .callout {
  background: url("../img/bg/piano-bg2.jpg") no-repeat center center fixed;
  }

  .map {
	height: 75%;
  }
}

#schoolSlider {
  margin-top: 20px;
  height: 650px !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; /* future proofing */
  -khtml-border-radius: 3px; /* for old Konqueror browsers */
}
